=fields_for "fassets_code_assets_code" do |a|
  %p
    =a.label :lang, "Language:"
    =a.text_field :lang, :value => @content.lang
    #lang_warning
    =a.label :content, "Code:"
    =a.text_area :content, :value => @content.content
    #content_warning

