-if user_signed_in?
  =link_to current_user.email, main_app.edit_user_registration_path #:content_method => :edit_user_registration
  =link_to "Logout", main_app.destroy_user_session_path #, :method => :destroy_user_session
-else
  =link_to "Log in", main_app.new_user_session_path
